<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{#if data.fields.title}}{{ data.fields.title }} | {{ site.title }}{{else}}{{ title }} | {{ site.title }}{{/if}}</title>
    <meta name="description" content="{{ data.fields.description }}">
    <meta name="author" content="Michael Du Toit">
    <link rel="apple-touch-icon" sizes="180x180" href="/metalsmith_portfolio/build/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/metalsmith_portfolio/build/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/metalsmith_portfolio/build/favicon-16x16.png">
    <link rel="manifest" href="/metalsmith_portfolio/build/site.webmanifest">
    <link rel="mask-icon" href="/metalsmith_portfolio/build/safari-pinned-tab.svg" color="#007fff">
    <meta name="msapplication-TileColor" content="#007fff">
    <meta name="theme-color" content="#007fff">
    <link href="/metalsmith_portfolio/build/css/styles.css" rel="stylesheet" />
    <!--[if lte IE 9]>
        <link href="/metalsmith_portfolio/build/css/styles-ie.css" rel="stylesheet" />
        <script src="/metalsmith_portfolio/build/ie-scripts.js"></script>
    <![endif]-->
</head>
<body>
{{> navigation }}